:root {
  --clr-bcg: #fff;
  --clr-font: #282c35;
  --clr-primary: #d23669;
  --clr-grey: #64748b;
}

.dark-theme {
  --clr-bcg2: #222;
  --clr-bcg: #1A1A1B;
  --clr-font: #fff;
  --clr-primary: #ffa7c4;
  --clr-grey: #cbd5e1;
}

* {
  margin: 0;
  padding: 0;
}

body{
  background: var(--clr-bcg);
  transition: all 0.3s linear;
  padding-bottom: 20px;
}
.nav-center {
  display: block;
  justify-content: center;
  align-items: center;
  padding: 10px;
}
.btn {
  background: var(--clr-primary);
  color: var(--clr-bcg);
  padding: 0.25rem 0.5rem;
  border-radius: 5px;
  border-color: transparent;
  text-transform: capitalize;
  transition: all 0.3s linear;
  font-weight: bold;
  letter-spacing: 2px;
  cursor: pointer;
}

header {
  color: var(--clr-font);
  text-align: center;
  padding-bottom: 1em;
  padding-top: 1em;
  letter-spacing: 3px;
  font-size: 20px;
}
#shadow {
  text-shadow: 1px 2px 2px grey;
  padding-bottom: 10px;
}
.content {
  border-radius: 20px;
  box-shadow: 6px 7px 12px #131213;
  display: flex;
  flex-direction: column;
  Width: 30%;
  Padding: 40px;
  Margin: Auto;
  Background: #fff;
  grid-gap: 2em;
  padding-bottom: 10px;
  color: var(--clr-font);
  background: var(--clr-bcg2);

}
.act {
  display: grid;
  grid-template-columns: 30% 30% 30% 10%;
  align-content: center;
  padding-bottom: 10px;
}
a {

  text-decoration: none;
  color: var(--clr-font);
}
h3 {
  padding-bottom: 20px;
}
p {
  text-align: justify;
}

figure>p,img{
  transition: .6s;
  /* animation-duration: 2s;
  animation-name: img;
  animation-iteration-count: infinite;
  animation-direction: alternate; */
  text-align: center;
  padding: 5px;
  display: block;
  margin: auto;
  width: 70%;
}
/* img:hover {
  width: 75%;
} */

/* @keyframes img {
  from {
font-size: 16px; }
  to {
    font-size: 18px;
  }
} */
