.grid {
  display: grid;
  grid-template-columns: 23% 23% 23% 23%;
  gap: 1em;
}

.grid div {
  transition: box-shadow .3s;
  background-color: #ccc;
  padding: 1em;
  text-align:justify;
}

.grid div:hover {
  transform: scale(1.02,1.02);
  box-shadow: 5px 2px 3px #c00;
}
