* {
  margin: 0;
}

body {
  margin: 15px;
  color: #000;
  font-size: 8pt;
  font-family: verdana;
  font-weight: normal;
  hyphens: auto;
  width: 80ex;
  margin-left: auto;
  margin-right: auto;
  padding: 15px;
  word-wrap: break-word;
  text-align: justify;
}

main>p:first-of-type::first-letter{
  font-size: 3em;
  padding: .1em .1em 0 0;
  float: left;
  line-height: 1em;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.masonry {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 20px;
}

.masonry-item {
  background-color: #fff;
  padding: 20px;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}

.menu nav {
  padding-top: 5px;
  color: #2bbc8a;
  letter-spacing: 0.01em;
  }
  .menu nav ul {
  /* text-align: center; */
  margin: 0;
  padding: 0;
  list-style-type: none;
  line-height: 10px;
  }
  .menu nav ul a {
    background-color: #f1f1f1;
  text-decoration: none;
  margin-right: 2px;
  color: #000;
  }
  .menu nav ul a:hover {
  color: #fff;
  background: #000;
  background-position: bottom;
  background-size: 100% 6px;
  background-repeat: repeat-x;
  }

  .menu nav ul li { 
  padding-right: 1px;
  padding-left: 1px;
  display: inline-block;
  border-right: 3px double;
  border-color: #000;
  vertical-align: middle;
  }

  .menu nav ul li:last-child {
  margin-right: 0;
  border-right: 0;
  }
  .menu nav ul li:last-child a {
  margin-right: 0;
  }

/* highlights */
::selection {
  background: gold;
  color: black;
}

/* header and footer areas */
.article-meta, .menu a {
  padding-left: 3px;
  padding-right: 3px;
  text-decoration: none;
}


.article-meta, footer { text-align: center;}
footer a { text-decoration: none; }

/* code */
pre {
  border: 1px solid #ddd;
  box-shadow: 5px 5px 5px #eee;
  overflow-x: auto;
}
code { background: #f9f9f9;   }
pre code { background: none; }

/* misc elements */
main { hyphens: auto; }
blockquote {
  background: #f9f9f9;
  border-left: 5px solid #ccc;
  padding: 3px 1em 3px;

}

table {
  /* margin: auto;
  border-top: 1px solid #666;
  border-bottom: 1px solid #666; */
}

table thead th { border-bottom: 1px solid #ddd; }

th, td { padding: 5px; }

thead, tfoot, tr:nth-child(even) { background: #eee; }

.gfg {
text-align: left;
font-size: 40px;
}


a {
color: darkblue;
text-decoration: none;
}

a:hover {
color: #fff;
background: #000;
}

a img {
  pointer-events: none;
}

img, iframe, video { max-width: 100%; }


.gfgg > a {
  color: #999999; background: #fff; text-decoration: none;padding-right:10px; 
}

.gfgg {
  margin:0; width: 100%; background-color: #000;
}

#nav { margin: 1ex 0; background: #000; }
#nav ul { list-style: none; position: relative; display: inline-block; }

p {
  display: block;
  margin-top: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

.subt_content {
  margin-block-start: 1em;
  -webkit-column-count: 2;
  -moz-column-count: 2;
  column-count: 2;
  text-align: justify;
  }

  #TableOfContents {
    margin: 0 0.5em;
    display: block;
  padding-top: 10px;
  }

  #TableOfContents ul{
    list-style-type:upper-roman;
  }

#TableOfContents a:hover {
 background-color: MistyRose ; color: navy; border: 1px inset grey; 
}

  body.dark-mode {
    filter: invert();
    background-color: #000;
  }

    /* navigation bar magic */
.nav1 * { color: #000000; }
.nav1 ul { list-style: none; position: relative; display: inline-block; padding-inline-start: 0;}
.nav1 ul li { display:inline-block; }
.nav1 ul ul { display: none; position: absolute; border: 1px solid #000000; }
.nav1 ul ul li { width: 100%; padding-right: 1ex; float:none; display:list-item; position: relative; }
.nav1 + ul li { display: inline-block;}

@media (prefers-color-scheme: dark) {
  body .nav1 a:not([href*=""]):hover, .nav1 a:active { color: #ffffff; background: #000000 }
  .nav1 a:hover, a:active { color: #000000; background: #ffffff }
  .nav1 { margin: 1ex 0; background: #ffffff; }
  .nav1 a { display:block; background: #ffffff; }
}

@media only screen and (min-width: 768px) {
  .nav1 ul li:hover a + ul { display: inherit; white-space: nowrap; }
}

.abint ul {
  padding-left: 20px;
}

#h1 {
  font-size: 20px;
  font-weight: bold;
}

#h2 {
  font-size: 1.5em;
  font-weight: bold;
}

#h3 {
  font-size: 1.2em;
  font-weight: bold;
}

.tag-cloud {
  margin: 10px 0;
  text-align: center;
}

.tag-cloud a:hover {
  background-color: #333;
  color: #fff;
}

#odd {
background: #f1f1f1;
}

hr.separador {
  margin: 1ex 0;
  padding: 3px;
  background-color: #000;
}
.article-meta {background: #f8f8f8;}
.article-meta {
  text-decoration: none;
  padding: 5px;
  border-radius: 5px;
}